
<h2>Eventos</h2>
<hr>

<div action="" class="form-inline">
    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control mr-2" placeholder="buscar"
            [(ngModel)]="filtroLista">
            <br />
        </div>
        <div class="col-2"> 
            <button class="btn btn-outline-success mlc-5">Buscar</button>
        </div>
    </div>

</div>
<h3> Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
    <thead class="table-striped">
        <tr>
            <th>
                <button type="button" class="btn btn-outline-dark btn-sm"
                (click)="alterarImagem()">
                {{!exibirImagem ? 'Exibir': 'Ocultar'}}
                </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length" >
        <tr *ngFor="let evento of eventos">
            <td> 
                <img [collapse]="!exibirImagem"
                    [isAnimated]="true"
                src="/assets/{{evento.imagemURL}}" 
                [style.width.px]="larguraImagem"
                [style.margin.px]="margemImagem">
            </td>
            <td>{{ evento.projetoId }}</td>
            <td>{{ evento.tema }}</td>
            <td>{{ evento.local }}</td>
            <td>{{ evento.dataEvento }}</td>
            <td>{{ evento.qtdPessoas }}</td>
            <td>{{ evento.lote }}</td>
            <td>{{ evento.local }}</td>
            <td></td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos?.length" >
        <tr>
            <td colspan="8" class="text-center">
                <h4> Nenhum evento encontrado! </h4>
            </td>
        </tr>
    </tfoot>
</table>